#content .curios-summary { }


/* Properties region */

#content .curios-properties .views-label {
    display: inline-block;
    min-width: 30%;
}

/* Relationships region */

#content .curios-relationships .pane-title {
    font-size: 1.2em;
}

#content .curios-relationships .pane-content {
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

#content .curios-image-gallery img {
    max-width: 520px;
}