/* Summary region */

#content .curios-summary { text-align: justify; }

/* Properties region */

#content .curios-properties .views-label {
    display: inline-block;
    min-width: 30%;
}

/* Relationships region */

#content .curios-relationships .pane-title {
    font-size: 1.2em;
}

#content .curios-relationships .pane-content {
    max-height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
}

/* Properties region. */
#content .curios-properties img {
    max-width: 530px;
}

/* Image gallery region */

#content .curios-image-gallery img {
    max-width: 260px;
}

#content .curios-image-gallery .views-row-odd {
    clear: both;
    float: left;
}

#content .curios-image-gallery .views-row-even {
    float: right;
}

/* Listings page */

#content .curios-listing .form-text {
    width: 300px;
}

#content .curios-listing .form-item-type select {
    width: 130px;
    overflow-x: hidden;
    white-space: nowrap;
}

/* Header search block */

#block-curios-search {
    width: 200px;
}

#block-curios-search .form-item-query input,
#block-curios-search .form-item-type select {
    width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
}


#edit-dc-description-format { display: none; }

#relationships-create-fieldset-wrapper .form-item,
#relationships-create-fieldset-wrapper .form-submit,
#relationships-remove-fieldset-wrapper .form-item,
#relationships-remove-fieldset-wrapper .form-submit {
    display: inline;
}
